NET "a[0]" LOC = G18;
NET "a[1]" LOC = H18;
NET "a[2]" LOC = K18;
NET "a[3]" LOC = K17;
NET "b[0]" LOC = L14;
NET "b[1]" LOC = L13;
NET "b[2]" LOC = N17;
NET "b[3]" LOC = R17;
//NET "op" LOC = H13;
NET "Op[0]" LOC = B18;
NET "Op[1]" LOC = D18;
NET "Op[2]" LOC = E18;
NET "Op[3]" LOC = H13;
NET "outp" LOC = J14;
//NET "notequal" LOC = J15;
//NET "greater" LOC = K15;
//NET "less" LOC = K14;
//NET "carry" LOC = E17;
//NET "of" LOC = P15;