NET "A[0]" LOC = G18;
NET "A[1]" LOC = H18;
NET "A[2]" LOC = K18;
NET "A[3]" LOC = K17;
NET "B[0]" LOC = L14;
NET "B[1]" LOC = L13;
NET "B[2]" LOC = N17;
NET "B[3]" LOC = R17;
NET "Op"   LOC = B18;
NET "C[0]" LOC = J14;
NET "C[1]" LOC = J15;
NET "C[2]" LOC = K15;
NET "C[3]" LOC = K14;
NET "Carry" LOC = E17;
NET "V" LOC = P15;