NET "Sa[0]" LOC = G18;
NET "Sa[1]" LOC = H18;
//NET "Sa[2]" LOC = K18;
NET "Cin" LOC = K17;
NET "B[0]" LOC = L14;
NET "B[1]" LOC = L13;
NET "B[2]" LOC = N17;
NET "B[3]" LOC = R17;
NET "Op[0]" LOC = B18;
NET "Op[1]" LOC = D18;
NET "Op[2]" LOC = E18;
NET "Op[3]" LOC = H13;
NET "out[0]" LOC = J14;
NET "out[1]" LOC = J15;
NET "out[2]" LOC = K15;
NET "out[3]" LOC = K14;
//NET "carry" LOC = E17;
//NET "of" LOC = P15;